:root {
    --orange: #cc6f06;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-image: url('423436.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Kleingeschrieben */
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--orange);
    color: #130707;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    border-radius: 8px;

    
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 25px;
        margin-top: 10px;
        font-size: 30px;
    }

    
    a {
        color: rgb(8, 7, 8);
        text-decoration: none;
        
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    padding-left: 1150px; 
    margin-top: 450px; 
    color: #ffffff;
}


.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d86e28;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    z-index: 1000;
    font-size: 20px;
    border-radius: 8px;

   
    a {
        color: black;
        
        &:hover {
            color: var(--orange); 
        }
    }
}